@import "tailwindcss";

@source "resources/**/*.blade.php";
@source "resources/**/*.{html,js,ts,vue}";

/* Register Tailwind v4 plugins via CSS */
@plugin "@tailwindcss/forms";
@plugin "flowbite/plugin";

/* Tailwind v4: move theme customizations here */
@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;

  --color-white: #fefefe;
  --color-frost: #ECF1F2;
  --color-deep-teal: #1B3134;
  --color-dark-teal: #0F353A;
  --color-dusty-teal: #80A2A7;
  --color-ash-gray: #AEAFAD;
  --color-shadow: #C4D4D680;
  --color-shadow-light: #C4D4D6;
  --color-desaturated-teal: #41747B;
  --color-steel-teal: #679095;
  --color-light-teal: #878886;
  --color-storm-teal: #2E5257;
  --color-input-bg: #FAFBF9;
  --color-confirm-green: #EFF4C9;
  --color-warning-red: #F98585C9;
  --color-footer-bg: #1A434A;
    /* my rides, but apply these classes to other buttons */
  --color-button-color: #3FA0AF;
  --color-button-bg: #ECF6F7;
  --color-button-bg-hover: #39929F;

  --color-danger-btn-bg: #FCC7C7;
  --color-danger-btn-color: #CF3551;
  --color-danger-btn-bg-hover: tomato;

}

@layer components {
    .btn-styles {
        @apply bg-[#3FA0AF] text-white px-4 py-2 rounded-3xl hover:bg-[#39929F];
    }
    .btn-like-styles {
        @apply bg-[#ECF1F2] text-[#A8BFC2] px-5 py-2 rounded-3xl hover:bg-frost text-center inline-block;
    }
    .hr-styles {
        @apply my-10 border-frost;
    }
}
